<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="BankBalsConnectionString" connectionString="Data Source=10.2.200.54;Initial Catalog=BankBals;Persist Security Info=True;User ID=webdeveloper;Password=55L28uf885W37UB36g8S"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
      <customErrors mode="RemoteOnly" />
      <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
