<nlog internalLogFile="D:/InetPub/vhosts/bankiru.net/httpdocs/logs/nlog.log"
      internalLogLevel="Info"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
        <target name="logfile1" xsi:type="File" fileName="${basedir}/logs/Error.log" />
        <target name="logfile2" xsi:type="File" fileName="${basedir}/logs/Cache.log" />
        <target name="memory0" xsi:type="Memory" layout="${message}" />

        <target name="warnemail" xsi:type="Mail" html="false" subject="Error Received" body="${message}"
                to="andrey.malyshenko@bankiru.net"
                from="feedback@bankiru.net"
                Encoding="UTF-8"
                enableSsl="false"
                smtpUsername="***"
                smtpPassword="***"
                smtpAuthentication="Basic"
                smtpServer="pss2.win.hostgator.com"
                smtpPort="25"
                />
    </targets>
    
    <rules>
        <logger name="*" minlevel="Warn" writeTo="logfile1" />
        <logger name="*" minlevel="Warn" writeTo="warnemail" />
        
        <logger name="CacheManager" minlevel="Warn" writeTo="logfile2" />
        <logger name="UploadFile" minlevel="Info" writeTo="memory0" />
    </rules>
    
</nlog>