<nlog internalLogFile="D:/InetPub/vhosts/bankiru.net/httpdocs/logs/nlog.log"
      internalLogLevel="Info"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target name="logfile-1" xsi:type="File" fileName="${basedir}/logs/gmail.log" />
    </targets>
    <rules>
        <logger name="Gmail" minlevel="Warn" writeTo="logfile-1" />
    </rules>
</nlog>